body {

  font-family: Arial;
  margin: 0em;
}
.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.topnav a {
  float: left;
  display: block;
  color: #4ca5bb;
  text-align: center;
  padding: 15px 16px;
  text-decoration:double;
}
.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}
.navbar-logo img{
  display: block;
  width: 100%;
  height: auto;
}

.cover {

     height: 200px; 
     background-image: url(https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     background-size: cover;
     background-position: center;
}




.bodyregistro{

  background-color: rgb(255, 255, 255)
}

.form-login {

  width: 400px;
  height: 340px;
  background: gray(8, 8, 8);
  margin: auto;
  margin-top: 180px;
  box-shadow: 7px 13px 37px black;
  padding: 20px 30px;   
}

.form-login h5{ 
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls{
width: 100%;
border:1px solid ;
margin-bottom: 15px;
padding: 11px 10px;
font-size: 14px;
font-weight: bold;

}

.buttons{
width: 100%;
height: 40px;
background: #017bab;
border: none;
color:black;
margin-bottom: 16px;



}

.form-login p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
  
}

.form-login a {
color: #4ca5bb; 
text-decoration: none;
font-size: 14px;

}


.body-usuario{

  background-color: white;
}
.form-register{

  width: 400px;
  background: gray;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white ;
  box-shadow: 7px 13px 37px #000 ;
}

.form-register h4{
font-size: 22px;
margin-bottom: 20px;
color: black;
}

.control{
  width: 100%;
  background:white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid ;
  font-size: 18px;
}

.form-register p{

  height: 40px;
  text-align: center;
  font-size: 18px;
} 

.boton {

  width: 400px;
  background: #1f54c5;
  border:none;
  padding: 12px;
  color:white;
  margin: 16p 0;
  font-size: 16px;
  
}