<header>
    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary ">
     
       <div class="container">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse"       data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="index.html">
         
            <img id="logo" src="../../../assets/CbaMed2-removebg-preview.png">
         </a>
         <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
               <a routerLink="./Login" class="nav-link active" aria-current="page">Login</a>
             </li>
             <li class="nav-item">
               <a routerLink="./Registro" class="nav-link active" >Registro</a>
             </li>
             <li class="nav-item">
                <a routerLink="/AcercaDeNosotros" class="nav-link active" aria-current="page">Acerca de Nosotros</a>
             </li>
            
            </ul>
         </div>
       </div>
     </nav>
  </header>   