


<body>
 

    <div class="container">
        <div class="myv">
          <p class="display-2">Misión y visión</p>
          
        <p>Trabajamos con el objetivo de <strong>ayudar a los médicos a deshacerse del papel y hacer más eficiente su trabajo.</strong></p>
        <p>La intención es mejorar la comunicación y el flujo de trabajo entre los diferentes miembros de una misma institución. </p>
        <p>Nuestra misión es <strong>producir un cambio en la asistencia sanitaria, proporcionando tecnología y servicios para reducir costos, reducir errores médicos y mejorar la calidad de la atención.</strong></p>
        <p>Estamos creando herramientas que intentan disminuir la brecha entre médicos y pacientes, y entre estos últimos y las Instituciones de Salud. Nuestras soluciones cloud permiten a las instituciones y los profesionales trabajar integradamente para hacer que el cuidado de la salud sea más rápido, más inteligente y más conveniente. <strong>Estamos construyendo puentes para una mejor atención médica.</strong></p>
        <p>&nbsp;</p>

        </div>
       <div class="container" id="formulario">
          <div class="mb-3">
            <label for="exampleFormControlInput1" id="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="correo@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Observaciones</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button onclick="enviar2()" id="enviar" type="submit"  class="btn btn-primary">Enviar</button>

        </div>
       </div>
      
</body>

  


