<div class="cover d-flex justify-content-center align-items-center flex-column">
    <form class="form-login" id="emailOK">
        <h5>Ingreso al Sistema</h5>
        <input  class ="controls" id="correo"  type="email"  name= "usuario"  placeholder="ejemplo@outlook.com" required>
        <input  class="controls" type="password" name= "clave"  placeholder="Contraseña" required>
        <input class="buttons" type="submit" name="register"  value="Ingresar" id="btn">

        
        <p>¿Todavia no estas registrado? <a href="registro.html"> Registrate aqui </a></p>
    </form> 

</div>
  
