<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="Icon" href="./Imagenes/iconCbaMed.ico">

        <!-- Etiquetas Metas -->  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Historia clinica Digital: Gestión de turnos, pacientes y sitio web de turnos online todo en un solo lugar.">
        <meta name="keywords" content="sistema de hospital, software de salud, historia clinica digital, cordoba argentina, telemedicina">
        
        <!-- Tipografia -->
        <script src="https://kit.fontawesome.com/d17be4837f.js" crossorigin="anonymous"></script>

        <!-- Title -->
        <title>CBAMED: Historia Clinica Digital</title>
        <link rel="Icon" href="./Imagenes/iconCbaMed.ico">

     </head>

    <body>
        <header> 
            <div class="cover d-flex justify-content-xl-around align-items-center flex-column">
             <p class="display-3">Historia Clinica Digital</p>
  
             

             <button type="button" class="btn btn-primary btn-lg">
              <a routerLink="./Ecommerce" class="nav-link active" >Carrito de compras</a>

             </button>

            </div>
       </header>
  
  <!-- iconos y enlaces -->
  
  <main>
    <section class="nuestros-servicios">
      <div class="row"> 
          <div class="col">
              <div class="icono">
                  <i class="fas fa-clinic-medical icono-figura"></i>
                  <h2> <a href="https://cordoba.infoisinfo-ar.com/busqueda/clinicas" target="blank">Clinicas de alto nivel </a> </h2> 
              </div>
          </div>
          <div class="col">
              <div class="icono"> 
                <i class="fa-solid fa-globe"></i>
                  
                  <h2>Fácil Accesibilidad</h2>
              </div>
          </div>
          <div class="col">
            <div class="icono">
              <i class=" fas fa-solid fa-address-book"></i>
              <h2>Contactos utiles</h2>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <div class="icono">
              <i class="fas fa-solid fa-check"></i>
              <h2>Fácil de utilizar</h2>
            </div>
          </div>
          <div class="col">
            <div class="icono">
              <i class="fas fa-solid fa-hand-holding-medical"></i>
              <h2>
              <a href="https://www.fundacionisys.org/es/blogs/formacion/844-telemedicina-en-tiempos-de-covid" target="_blank">Pacientes Seguros </a> 
            </h2>
            </div>
          </div>
          <div class="col">
            <div class="icono">
              <i class="fas fa-solid fa-clock"></i>
              <h2>
              <a href="https://news.propatiens.com/telemedicina-reducir-tiempos-de-espera/" target="_blank">Ahorro de Tiempo </a>
              </h2>
            </div>
          </div>
      </div>
    </section>
  </main>
    </body>
    </html>

